<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="div1">
        <input type="button" value="出国" class="active">
        <input type="button" value="留学">
        <input type="button" value="旅游">
        <div style='display: block'>123</div>
        <div>456</div>
        <div>789</div>
        <script src="../../dist/index.js"></script>
        <script src="./js/index.js"></script>
    </div>
</body>

</html>
