* {
    margin: 0;
    padding: 0;
}

/* 设置页面最小高度，去除x方向滑动条 */
body {
    min-height: 1000px;
    overflow-x: hidden;
}

img {
    border: none;
}

/* 链接样式 */
a {
    color: #933;
    text-decoration: none;
}

/* 页面头部 */
.header {
    height: 2rem;
    width: 100%;
    line-height: 2rem;
}

/* 头部左边logo部分 */
.logo {
    position: relative;
    left: 15%;
    width: 30%;
    font-size: 1.875rem;
    float: left;
}

.logo img {
    width: 100%;
}

/* 头部右边菜单部分 */
.menu {
    float: right;
    width: 30%;
    overflow: hidden;
}

.menu ul {
    margin-right: 50px;
    height: 100px;
}

.menu ul li {
    font-size: 20px;
    font-family: "微软雅黑";
    text-align: center;
    float: right;
    width: 25%;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    float: left;
}

.menu ul li:hover {
    background: #e4a342;
}
